/* Genel container */
.container {
  position: absolute; /* Konumu absolute yaparak sabitle */
  top: 100px; /* Üstten 200px mesafe */
  left: 75px; /* Soldan 100px mesafe */
  width: 500px; /* Sabit genişlik */
  height: 200px; /* Sabit yükseklik (opsiyonel) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;

}

/* Kategoriler için stil */
.category {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
 
  margin: 4px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 500px;
  height: 250px;
  text-align: center;
  padding: 20px;
}

/* Kategori üzerine gelindiğinde renk değişimi */
.category:hover {
  background-color: #45a049;
}

/* Seçilen kategori mesajı */
.selectedCategory {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
